doctype 5
html(lang="en")
	head
		title Brad Harris
		link(href="/colorbox/colorbox.css", rel="stylesheet")
		link(href="/less/styles.css", rel="stylesheet")

	body

		header
			h1 Brad Harris

		section#content

			#stats
				#connections
					label Connections:
					span
				#memory
					label Memory:
					span
					\mb

				#load
					label Load:
					span
					%

			h2 Projects
			ul
				li.whoopdwhoop(data-template="whoopdwhoop") whoopdwhoop
				li.bbbuilders(data-template="bbbuilders") b&b builders
				li.markdownme.gradient-blue(data-template="markdownme") markdown.me
				li.sayitonthewall(data-template="sayitonthewall") sayitonthewall
				li.daoctemplates.gradient-gray(data-template="daoctemplates") daoctemplates
				li.picasa.gradient-yellow(data-template="picasa") picasa gallery
				li.slikcalc(data-template="slikcalc")
				li.adroit(data-template="adroit")

			h2.clear Links
			ul
				li.resume.gradient-green
					a(href="/thegoods/", target="_blank") Resume
				li.blog
					a(href="http://selfcontained.us", target="_blank")
						img(src="/images/sc-icon.jpg", align="center", title="My Blog", alt="My Resume")
				li.linkedin
					a(href="http://www.linkedin.com/in/bradharris", target="_blank")
						img(src="/images/linkedin-icon.png", align="center", title="My LinkedIn profile")
				li.github
					a(href="https://github.com/bmharris/",, target="_blank")
						img(src="/images/github-icon.jpg", align="center", title="My github profile")

			h2.clear Labs
			ul
				li.gradient-red(data-template="socketio") socket.io
				li.gradient-orange(data-template="node") node.js

		footer.clear
			h2 this site brought to you by:
			ul
				li
					a(href="http://nodejs.org", target="_blank") node.js
				li
					a(href="http://expressjs.com", target="_blank") express.js
				li
					a(href="http://jade-lang.com", target="_blank") jade
				li
					a(href="http://lesscss.org/", target="_blank") less
				li
					a(href="http://socket.io/", target="_blank") socket.io
				li
					a(href="https://github.com/mishoo/UglifyJS", target="_blank") UglifyJs

		a(href="http://github.com/bmharris/resume", target="_blank")
			img(style="position: absolute; top: 0; right: 0; border: 0;",src="https://a248.e.akamai.net/assets.github.com/img/7afbc8b248c68eb468279e8c17986ad46549fb71/687474703a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f6461726b626c75655f3132313632312e706e67",alt="Fork me on GitHub")
		script(src="/socket.io/socket.io.js")
		script(src="/resources.js")
