doctype 5
html(lang="en")
	head
		title Brad Harris
		link(href="http://d2sq5etl8hi37n.cloudfront.net/colorbox/colorbox.css", rel="stylesheet")
		link(href="http://d2sq5etl8hi37n.cloudfront.net/less/styles.css", rel="stylesheet")

	body

		header
			h1 Brad Harris

		section#content

			#stats
				#connections
					label Connections:
					span
				#memory
					label Memory:
					span

			h2 Projects
			ul
				li.whoopdwhoop(data-template="whoopdwhoop") whoopdwhoop
				li.bbbuilders(data-template="bbbuilders") b&b builders
				li.markdownme.gradient-blue(data-template="markdownme") markdown.me
				li.sayitonthewall(data-template="sayitonthewall") sayitonthewall
				li.daoctemplates.gradient-gray(data-template="daoctemplates") daoctemplates
				li.picasa.gradient-yellow(data-template="picasa") picasa gallery
				li.slikcalc(data-template="slikcalc")

			h2.clear Links
			ul
				li.resume.gradient-green
					a(href="/thegoods/", target="_blank") Resume
				li.blog
					a(href="http://selfcontained.us", target="_blank")
						img(src="http://d2sq5etl8hi37n.cloudfront.net/images/sc-icon.jpg", align="center", title="My Blog", alt="My Resume")
				li.linkedin
					a(href="http://www.linkedin.com/in/bradharris", target="_blank")
						img(src="http://d2sq5etl8hi37n.cloudfront.net/images/linkedin-icon.png", align="center", title="My LinkedIn profile")
				li.github
					a(href="https://github.com/selfcontained/",, target="_blank")
						img(src="http://d2sq5etl8hi37n.cloudfront.net/images/github-icon.jpg", align="center", title="My github profile")

			h2.clear Labs
			ul
				li.gradient-red(data-template="socketio") socket.io
				li.gradient-orange(data-template="node") node.js

		footer.clear
			h2 this site brought to you by:
			ul
				li
					a(href="http://nodejs.org", target="_blank") node.js
				li
					a(href="http://expressjs.com", target="_blank") express.js
				li
					a(href="http://jade-lang.com", target="_blank") jade
				li
					a(href="http://lesscss.org/", target="_blank") less
				li
					a(href="http://socket.io/", target="_blank") socket.io
				li
					a(href="https://github.com/mishoo/UglifyJS", target="_blank") UglifyJs

		a(href="http://github.com/selfcontained/resume", target="_blank")
			img(style="position: absolute; top: 0; right: 0; border: 0;",src="https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png",alt="Fork me on GitHub")
		script(src="/socket.io/socket.io.js")
		script(src="http://d2sq5etl8hi37n.cloudfront.net/resources.1338.js")

		script
			var _gaq = _gaq || [];
			_gaq.push(['_setAccount', 'UA-254292-21']);
			_gaq.push(['_trackPageview']);

			(function() {
			var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
			ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
			var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
			})();
