img(src="/images/adroit-logo.jpg", width="449", height="105", align="center")

p
	|	Early in my career I created quite a few PHP and MySQL based websites.
	|	I extracted a framework from them and packaged it up under the name Adroit.
	|	I've since stopped using it in favor of more mature frameworks, but it was a great learning experience.

p
	a(href="http://adroit.selfcontained.us/") adroit.selfcontained.us
