h1 B&B Builders

p
	|	B&B Builders needed a custom job management system to help them track and complete the amazing homes they build.
	|	The application provides interfaces to fasciliate communication between clients and employees.
	|	It also powers their public facing website

p I built their application on a LAMP stack using Zend Framework, Doctrine ORM, MySQL and YUI.

p
	a(href="http://bbbuilders.com") bbbuilders.com
