h1
	img(src="/images/daoctemplates.jpg", width="281", height="41")

p Daoctemplates.net was one of the first websites I built.  I created it in 2005-2006 as a community site for people playing an online role-playing game.  It allowed users to create, share and rank their character templates.  It's built on PHP and MySQL, and utilizes Ext.js (was known as yui-ext at the time).

p
	a(href="http://daoctemplates.net/") daoctemplates.net
