h1
	a(href="http://markdown.me") markdown.me

p
	|	I love the
	a(href="http://daringfireball.net/projects/markdown/", target="_blank") markdown syntax
	|	\(thank you John Gruber\) for everything from taking notes, to writing documents.
	|	I can't stand opening up word processor applications, I prefer to stay in my happy world of
	a(href="http://www.sublimetext.com/") SublimeText.

p
	a(href="http://markdown.me") markdown.me
	|	is a simple website I threw together on PHP and MongoDB that lets you save your markdown, and have a permalink url to it, viewable in html and markdown.
	|	You can also login via Facebook and edit previously saved documents.
