h1 picasa gallery

p
	|	I created a custom presentation of a
	a(href="https://picasaweb.google.com") Picasa Web Album.
	|	It's built on a small PHP Framework I wrote call
	a(href="http://adroit.selfcontained.us/") Adroit,
	|	and communicates with Google Data APIs.
p
	a(href="http://gallery.selfcontained.us/") gallery.selfcontained.us
