h1 sayitonthewall.com

p I created this website a few years ago for my wife's vinyl business.  She has since sold it, and the site has changed somewhat, but it still built on my original code.  It was built on PHP and MySQL, using the Smarty template engine and jQuery.

p
	a(href="http://sayitonthewall.com") sayitonthewall.com
