h1 socket.io

p
	|	socket.io is an interesting project aimed at making real-time web applications a reality.
	|	The stats container on the top-right of this page are dynamically updated as visitor's connect to the server.
	|	The stats are compiled
	a(href="https://github.com/selfcontained/resume/blob/master/stats/stats.js", target="_blank") on the server
	|	using the
	a(href="http://nodejs.org/docs/latest/api/os.html", target="_blank") os node api

a(href="http://socket.io/") socket.io
