h1 socket.io

p
	|	socket.io is an interesting project aimed at making real-time web applications a reality.
	|	The stats container on the top-right of this page are dynamically updated as visitor's connect to the server.

a(href="http://socket.io/") socket.io
