h3
	img(src="/images/whoopdwhoop-logo.png", width="356", height="63")

p My wife and I created whoopdwhoop.com as a currency free creative marketplace for people to swap their creations.  I built it on a LAMP stack using Zend Framework, Doctrine ORM, MySQL and YUI.  The application also makes heavy use of APC and file-based caching to aid performance.

p
	a(href="http://whoopdwhoop.com") whoopdwhoop.com

